<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Welcome to </p>
    <img src='' alt=''/>
  <ul>
    <% for(i=0;i<title.length;i++) {%>
    <li><img src="<%= title[i]._doc.imgUrl %>"></li>
    <% } %>
  </ul>

  </body>
</html>
