body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
.booklist{

}
.booklist li{
  list-style: none;
  display: inline-block;
  padding: 5px;
  text-align: center;
}
.booklist li span{
  display: block;
  font-size: 16px;
  color:red;
}
#box{
  width: 100px;
  height: 100px;
  background: red;
}